MobileService45/Service References/SMSAgent/SMSAgentWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SendMT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mtseq" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="moid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="moseq" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="src" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dest" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cmdcode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="msgbody" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="msgtype" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="msgtitle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mttotalseg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mtseqref" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cpid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="reqtime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="procresult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="opid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendMTResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendMTSoapIn">
    <wsdl:part name="parameters" element="tns:SendMT" />
  </wsdl:message>
  <wsdl:message name="SendMTSoapOut">
    <wsdl:part name="parameters" element="tns:SendMTResponse" />
  </wsdl:message>
  <wsdl:portType name="SMSAgentWSSoap">
    <wsdl:operation name="SendMT">
      <wsdl:input message="tns:SendMTSoapIn" />
      <wsdl:output message="tns:SendMTSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SMSAgentWSSoap" type="tns:SMSAgentWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendMT">
      <soap:operation soapAction="http://tempuri.org/SendMT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SMSAgentWSSoap12" type="tns:SMSAgentWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendMT">
      <soap12:operation soapAction="http://tempuri.org/SendMT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SMSAgentWS">
    <wsdl:port name="SMSAgentWSSoap" binding="tns:SMSAgentWSSoap">
      <soap:address location="http://www.mymobile.com.vn/SMSAPIWSCD/SMSAgentWS.asmx" />
    </wsdl:port>
    <wsdl:port name="SMSAgentWSSoap12" binding="tns:SMSAgentWSSoap12">
      <soap12:address location="http://www.mymobile.com.vn/SMSAPIWSCD/SMSAgentWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>